<?xml version="1.0" encoding="utf-8"?>
<launch>
  <param
    name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find fyp_sim)/urdf/robot.xacro'"/>

  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen" if="true">
      <remap from="/joint_states" to="/joint_states"/>
  </node> -->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <!-- <remap from="/joint_states" to="/joint_states"/> -->
  </node>

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    output="screen">
  </node>

  <!-- <node name="odom_pub" pkg="odometry" type="odom_data_pub"/> -->
  <!-- <node name="navigate" pkg="navigation" type="navigate"/> -->
  <!-- <node name="rotate_angle_pub" pkg="rotate_base" type="rotate_base_node"/> -->
  <!-- <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/> -->
  <!-- <node name="teleop_ctrl" pkg="keyboard_ctrl" type="keyboard_ctrl_node"/> -->
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100"/>

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find fyp_sim)/config/rviz_config.rviz"

    />
</launch>
